# Database
DATABASE_URL=postgresql://user:password@host/dbname

# Uploadthing
UPLOADTHING_TOKEN=your_uploadthing_token

# Mapbox
VITE_MAPBOX_TOKEN=your_mapbox_token

# Hardhat / Blockchain (Ethereum Sepolia Testnet)
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY
DEPLOYER_PRIVATE_KEY=your_wallet_private_key
VITE_CONTRACT_ADDRESS=0x_deployed_contract_address
